<%  provide(:title,"Contact")  %>
<h1> Контакт </h1>

<p>Свяжитесь с учебным пособием по Ruby on Rails по поводу примера приложения по адресу
  <a href="https://www.railstutorial.org/contact"> контактная страница </a> .
</p>
