<% provide(:title, "Home") %>

  <h1>Пример приложения</h1>
  <p>
    Это домашняя страница для
    <a href="https://www railstutorial org/">Учебное пособие по Ruby on Rails</a>
    образец заявления.
  </p>



